.enviado {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.enviado .div {
  background-color: #f9f9f9;
  height: 340px;
  position: relative;
  width: 340px;
}

.enviado .img {
  height: 106px;
  left: 116px;
  position: absolute;
  top: 48px;
  width: 106px;
}

.enviado .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 293px;
}

.enviado .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 243px;
  width: 266px;
}
