.splash-screen {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }
    .splash-screen .logo-wrapper {
    background-color: #121212;
    height: 932px;
    position: relative;
    width: 430px;
    }
    